<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список заметок</title>
</head>
<body>
Заметки:
<table>
    <tr>
        <th>
            Название
        </th>
        <th>
            Создана
        </th>
        <th>
            Изменена
        </th>
    </tr>
    {% for note in notes %}
        <tr>
        <td>
            <a href="/view_note/{{ note.id }}">{{ note.name }}</a>
        </td>
        <td>
            {{ note.ts_created }}
        </td>
        <td>
            {{ note.ts_modified }}
        </td>
        </tr>
    {% endfor %}
</table>
    <a href="/create_note">Создать заметку</a>
</body>
</html>