<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ note.name }}</title>
</head>
<body>

<h1>{{ note.name }}</h1>
<p> Создана: {{ note.ts_created }}</p>
<p> Изменена: {{ note.ts_modified }}</p>
<p>
    {{ note.contents }}
</p>

</body>
</html>